*{
    margin: 0px;
    padding: 0px;
}
header{
    height: 530px;
    background-color: black;
}
#headimg {
    padding: 100px;
    height: 328px;
    width: 823px;
}
#navgt{
    background-color: rgb(150, 84, 84);
    width: 100%;
    height: 45px;
}
ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}
ol{
    margin: 9px 0px 0px 0px;
    font-size: 1.3rem ;
    font-weight: bold;
    list-style: none;
}
#statics{
    justify-content: center;
    margin: 145px;
}
/* #staticsprgrf{

} */
p {
    margin: 0px 0px 45px 36px;
    font-size: 1.5rem;
    font-weight: bold;
}
/* #staticsnmbar{
    
} */
#staticsnmbarul ol {
    margin: 9px 0px 0px 0px;
    font-size: 3rem;
    font-weight: bold;
    list-style: none;
}
#showdooh{
    padding: 50px;
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;  
}
#showdooh img {
    height: 272px;
    height: 307px;
    width: 395px;
}
#showdooh p {
    padding-right: 133px;
    margin: 0px 0px 0px 0px;
    font-size: 1.5rem;
}
/* .tietldiv{
    display: block;
} */
.tietl {
    margin-top: 29px;
    margin-left: 479px;
    font-size: 1.8rem;
    font-weight: bold;
}
.tietlxl {
    margin-top: 29px;
    margin-left: 188px;
    font-size: 1.8rem;
    font-weight: bold;
}
.tietlxxl {
    margin-top: 29px;
    margin-left: 107px;
    font-size: 1.8rem;
    font-weight: bold;
}
#vido{
    background-color: black;
    width: 100%;
    height: 300px;
}
#screen{
background-color: bisque;
height: 300px;
width: 100%;
display: flex;
}
#screenimg {
    margin-right: 14px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
#screenimg img {
    height: 268px;
    width: 160px;
    margin-left: 15px;
}
#screen p{
    margin: 33px 65px 0px 36px;
}
#compne{
    background-color: black;
    width: 100%;
    height: 200px;  
}
#location img {
    width: 100%;
    height: 100vh;
}
footer {
    background-color: bisque;
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#contct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contct p{
    font-size: 1rem;
}
input {
    height: 18px;
    width: 171px;
    background-color: blueviolet;
}